@import "main.css";

.header {
  display: flex;
  margin: 2em;
  height: 5vh;
}

.nav-logo {
  width: 25%;
  align-self: start;
}

.nav-search {
  width: 50%;
  align-self: center;
  display: block;
  padding: 0.9375em;
  margin-left: 2em;
}

.nav-person {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

.nav-person-name {
  align-self: center;
  padding-left: 10px;
}

.nav-icons {
  display: none;
}

@media (max-width:600px) {
  .nav-search {
    display: none;
  }
  .nav-person {
    display: none;
  }

  .nav-icons {
    display: block;

  }
}