:root {
  --blue-100: #96B9FD;
  --blue-200: #7BA4FC;
  --blue-300: #5081FB;
  --dark-blue: #051D3B;
  --dark-gray: #141414;
  --white: #FFFFFF;
  --mac-green: #27C93F;
  --mac-red: #FF5F56;
  --mac-yellow: #FFBD2E;
  --box-shadow: rgba(0, 0, 0, 0.24);
  --input-color: rgba(255, 255, 255, 0.16);
}

#body-wrap {
  background-color: var(--dark-blue);
  height: 80vh;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 16px 24px var(--box-shadow);
  font-family: Inter, sans-serif;
  color: var(--white);
}

.main-body {
  display: flex;
  margin: 2em;
  height: 60vh;
}

a {
  text-decoration: none;
  color: var(--white);
}

.title {
  font-weight: 400;
  letter-spacing: 0.6em;
  font-size: 0.75em;
  margin-bottom: 1em;
}

.input-field {
  display: block;
  background-color: var(--input-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--white);
  opacity: 80%;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--white);
  opacity: 80%;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--white);
  opacity: 80%;
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--white);
  opacity: 80%;
}