@import "main.css";
@import "body.css";

.main-personalization {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.main-personalization_item {
  display: block;
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10px;
  width: 80%;
}

.input-project {
  margin-top: 5px;
}

.main-personalization-color-picker {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  padding: 5px;
  border: solid 1px var(--white);
  border-radius: 8px;
  background-color: var(--dark-blue);
}